VOW_DID="did:web:vow.example.com"
VOW_HOSTNAME="vow.example.com"
VOW_ROTATION_KEY_PATH="./rotation.key"
VOW_JWK_PATH="./jwk.key"
VOW_CONTACT_EMAIL="me@example.com"
VOW_RELAYS=https://bsky.network
# Generate with `openssl rand -hex 16`
VOW_ADMIN_PASSWORD=
# Generate with `openssl rand -hex 32`
VOW_SESSION_SECRET=
# Optional: Change the session cookie name (default: session)
# VOW_SESSION_COOKIE_KEY=vow_session
